{% extends 'homepage/base.html' %}
{% block title %}About{% endblock %}

{% block content %}
<div class="he-about">
    <h1 class="titleabout">Apa itu PlayboxR?</h1>
    <h3 class="deskripsiabout">Playbox adalah sebuah istilah yang bisa merujuk ke berbagai hal, tergantung pada konteksnya. Umumnya, Playbox mengacu pada:</h3>
    <ol class="listabout">
        <li class="konteksplay">
            <h4>Playbox (Media Player): Perangkat atau aplikasi yang digunakan untuk memutar media digital seperti video, musik, atau permainan.</h4>
        </li>
        <li class="konteksplay">
            <h4>Playbox (Permainan atau Mainan): Kotak atau perangkat yang dirancang khusus untuk kegiatan bermain, sering kali berisi mainan atau alat untuk anak-anak.
            </h4>
        </li>
        <li class="konteksplay">
            <h4>Playbox (Software atau Platform): Platform perangkat lunak yang memungkinkan pengguna mengakses berbagai jenis konten atau aplikasi.</h4>
        </li>
    </ol>
    <h3 class="penutupabout">Dalam konteks tertentu, istilah ini mungkin memiliki arti yang lebih spesifik, jadi jika kamu memiliki konteks tertentu, beri tahu aku untuk penjelasan yang lebih tepat.</h3>
</div>
{% endblock %}