{% extends 'homepage/base.html'%}
{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="heading container-fluid">
        <h1 class="title">🎮 Sewa Playbox dan Mainkan Game Terbaik! 🎮</h1>
        <h3 class="deskripsi">ingin seru-seruan tanpa batas? Sewa Playbox kami sekarang! Nikmati berbagai game keren dengan mudah dan cepat.</h3>
        <ul class="pilih" type="disc">
            <li class="playbox">
                <h4>Banyak Pilihan Game</h4>
            </li>
            <li class="playbox">
                <h4>Setup Cepat dan Mudah</h4>
            </li>
        </ul>
        <h3 class="menyewa">Cara Menyewa:</h3>
        <ol class="sewa" type="1">
            <li class="cara">
                <h4>Hubungi kami di playboxR@gmail.com</h4>
            </li>
            <li class="cara">
                <h4>Pilih paket yang cocok</h4>
            </li>
            <li class="cara">
                <h4>Mulai Main dan rasakan keseruannya</h4>
            </li>
        </ol>
        <h3 class="penutup">Jangan tunggu lagi! Ajak teman-temanmu dan buktikan serunya bermain dengan PlayboxR! info lebih lanjut? Kunjungi www.PlayboxR.Com</h3>
    </div>
{% endblock %}